.signup-container{
    background-image: url('./image/soccer-ball-on-blue-background-600w-1035969124.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}